html {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 8 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 24px;
  }
}

html {
  height: 100%;
  font-family: 'Montserrat';
  --bg: #FCFCFC;
  --bg-panel: #EBEBEB;
  --color-headings: rgb(16, 100, 209);
  --color-text: #333333;
}

html[data-theme='dark'] {
  --bg: #333333;
  --bg-panel: #434343;
  --color-headings: rgb(132, 204, 37);
  --color-text: #B5B5B5;
}

h1 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.0736rem;
}

h1 {
  font-size: 27.648px;
}

@media screen and (min-width: 320px) {
  h1 {
    font-size: calc(27.648px + 26.352 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 54px;
  }
}

body {
  background-color: var(--bg);
}

.container {
  background-color: var(--bg-panel);
  margin: 2em;
  padding: 4.5em;
  border-radius: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90% auto;
      grid-template-columns: 90% auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "title switch" "content content";
}

.container h1 {
  margin: 0;
  color: var(--color-headings);
}

.container p {
  color: var(--color-text);
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: content;
  font-size: 1.44rem;
  line-height: 1.0em;
  margin-top: 2em;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container p {
  font-size: 23.04px;
}

@media screen and (min-width: 320px) {
  .container p {
    font-size: calc(23.04px + 12.96 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .container p {
    font-size: 36px;
  }
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
  display: -ms-grid;
  display: grid;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: var(--color-headings);
  float: right;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + label {
  background: var(--color-headings);
}

input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}

html.dark-transition,
html.dark-transition *,
html.dark-transition *:before,
html.dark-transition *:after {
  -webkit-transition: all 750ms !important;
  transition: all 750ms !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}

html.light-transition,
html.light-transition *,
html.light-transition *:before,
html.light-transition *:after {
  -webkit-transition: all 750ms !important;
  transition: all 750ms !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}
/*# sourceMappingURL=main.css.map */